<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load leaflet_tags %}
{% csrf_token %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="shortcut icon" href="https://nedbatchelder.com/pix/django-icon-256.png">
        <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script>
        <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
        <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
    {% endblock %}
</html>