<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% csrf_token %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="shortcut icon" href="https://nedbatchelder.com/pix/django-icon-256.png">
        <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script>
        <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
        <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <script type="text/javascript" src="{% static 'js/index.js' %}" ></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        {% load widget_tweaks %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="container" id="loginBody">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Edit My Details</h5>
                    <form method="post"  class="form-signin" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row form-label-group">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6" id="changePasswordDiv">
                                <a href="{% url 'change_password' %}">Change Password</a>
                            </div>
                        </div>
                        <div class="form-row form-label-group">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row form-label-group">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.email2|as_crispy_field }}
                            </div>
                        </div>

                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" id="signInBtn2" type="submit">Submit</button>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
    {% endblock %}
</html>