<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
{% load static %}
{% load static %}
{% load crispy_forms_tags %}
{% csrf_token %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <script type="text/javascript" src="{% static 'js/index.js' %}" ></script>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    {% load widget_tweaks %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container" id="tradespersonLoginBody">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                        <form method="post"  class="form-signin" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row form-label-group">
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.password|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.password2|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row form-label-group">
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.firstname|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.lastname|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.phone_no|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row form-label-group">
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.email2|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.town|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row form-label-group">
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.company_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.website_url|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.travel_distance|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row form-label-group">
                                <div class="form-group col-md-3 col-6 mb-0" id="dropdownSelector">
                                    {{ form.occupation|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 col-6 mb-0" id="dropdownSelector">
                                    {{ form.working_hours|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 col-6 mb-0" id="dropdownSelector">
                                    {{ form.county|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 col-6 mb-0" id="dropdownSelectorImage">
                                    {{ form.image|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row form-label-group">
                                <div class="form-group col-md-12" id="postForm">
                                    <p>Your Portfolio:</p>
                                    {{ form2.text | safe }}
                                    {{ form2.media }}
                                </div>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" id="signInBtn3" type="submit">Submit</button>
                            <hr class="my-4">
                            <a class="btn btn-lg btn-consumer btn-block text-uppercase" id="loginBtn3" href="{% url 'login' %}" type="submit">Login</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>
{% endblock %}
</html>